{% extends "base.html" %}


{% block content %}


<!-- Status panel -->
<div id="status" class="status-panel">WebSocket: CONNECTING...</div>


<!-- Buttons -->
<div class="controls">
  <button id="run">Run</button>
  <button id="stop">Stop</button>
  <button hx-get="/status" hx-target="#robot-status">Get Robot Status</button>
</div>


<!-- Robot status panel (separate from websocket status) -->
<div id="robot-status" class="status-panel"></div>


<!-- ROS log panel -->
<pre id="ros-log" class="ros-log"></pre>

<!-- SocketIO library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>

<!-- Temporarily disabled until robot WebSocket is ready -->
<script type="module" src="{{ url_for('static', filename='js/websocket.js') }}"></script>
{% endblock %}